<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New Employee</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container my-5 py-3">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 shadow-lg">
        <div class="card-header" style="background-color: #004080; color: white;">
          <h3 class="card-title mb-0">Ajouter un nouveau employé</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/employees/add}" th:object="${employee}" method="post">
            <div class="form-group">
              <label for="nomEmp" class="font-weight-bold">Nom Complet :</label>
              <input type="text" class="form-control rounded-0" id="nomEmp" name="nomEmp" th:value="*{nomEmp}" placeholder="Entrer le nom complet" required>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="salaire" class="font-weight-bold">Salaire :</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: #004080; color: white;">$</span>
                  </div>
                  <input type="number" class="form-control rounded-0" id="salaire" name="salaire" th:value="*{salaire}" step="0.01" placeholder="Entrer salaire" required>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="age" class="font-weight-bold">Age:</label>
                <input type="number" class="form-control rounded-0" id="age" name="age" th:value="*{age}" placeholder="Entrer l'age" required>
              </div>
            </div>
            <div class="form-group">
              <label for="departement" class="font-weight-bold">Departement:</label>
              <select class="form-control rounded-0" id="departement" name="departement" required>
                <option value="" selected>Selectionner un departement</option>
                <option th:each="dept : ${departements}"
                        th:value="${dept.idDept}"
                        th:text="${dept.nomDept}">
                </option>
              </select>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-lg btn-block rounded-0" style="background-color: #004080; color: white;">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Include Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
